{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}
